name: Random Auto Filler

on:
  schedule:
    # Runs 4 times a day: 09:00, 13:00, 17:00, 21:00 UTC
# Runs at 05:00 UTC (10 AM PKT), 10:00 UTC (3 PM PKT), and 15:00 UTC (8 PM PKT)
  - cron: '0 5,10,15 * * *'
  workflow_dispatch: # Allows you to click "Run Now" manually

permissions:
  contents: write

jobs:
  fill-survey:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Random Delay (Human Behavior)
        run: |
          # Wait between 1 minute and 45 minutes
          DELAY=$(( ( RANDOM % 2700 ) + 60 ))
          echo "Sleeping for $DELAY seconds to simulate human timing..."
          sleep $DELAY

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Automation Script
        run: python cloud_fill.py

      - name: Commit Progress
        run: |
          git config --global user.name "Auto-Bot"
          git config --global user.email "bot@github.com"
          
          # 1. Save the local changes FIRST
          git add FINAL_DATASET.csv
          git commit -m "Progress Update: Form filled" || echo "No changes to commit"
          
          # 2. NOW pull the latest updates (rebase puts your save on top)
          git pull origin main --rebase
          
          # 3. Push the final result
          git push
